snippet @typed "@typedef description"
${1:Description}
* @typedef {${2:Type}} ${3:namepath}${4:
* @prop}
endsnippet

snippet @prop "@property {name} Description"
@property {${1:Type}} ${2:name} ${3:Description}${4:
* @prop}
endsnippet
